@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  position: relative;
  background-image: url("../public/Images/background.png");
  /* background-color: #F9D326; */
  height: auto;

}



.gradient-overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.893) 100%);
}



.navbar {


  background-color: #5C4F0570;

  ;
  /* background-color: #b59a003f; */
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.317);
  box-shadow: rgba(92, 79, 5, 0.44) 0px 7px 29px 0px;
}

.navbar button {
  background-color: #F9D326;
  padding: 1rem;
  color: black;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .second-section {
    width: 73%;
  }

  .navbar button {
    background-color: #f92688;

  }
}

.bars {
  color: white;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: #b59a003f;
  /* display: flex; */
  display: none;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .navbar>div>img {
    display: none;
  }

  .second-section>ul {
    flex-direction: column;
  }

  .second-section>ul>li {
    margin: 0.3rem;
  }

  .bars {
    display: flex;
  }
}

.grid-box-main {
  background-image: url(/public/Images/GraphPaper.png);
}

.hero {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 1px solid #f92688;
  padding: 2rem;
  /* background-image: url(/public/Images/GraphPaper.png); */
}

.button-shadow :hover {
  box-shadow: rgba(212, 174, 4, 0.306) 0px 8px 8px 8px;

  transition: box-shadow 0.3s ease;
}

.change-color {
  color: #FECC00;
}

.light-border {
  border: 3px solid rgba(208, 227, 3, 0.146);
}

.border-top {
  margin: auto;

  border-top: 2px solid #FECC00;
  width: 70%;
}

.back-color {
  background-color: #141411;
}

/* Footer Section */

.footer-main-div {
  background-color: #211D0D;
  width: 100%;
  height: 55vh;

}

.footer-child-div {
  border: 2px solid red;
  /* height: 250px; */
  font-family: "Kanit", sans-serif;
  background-color: #0D0E11;
  font-weight: 600;
  font-size: 3rem;

}

.end-text {
  font-family: Inter;
  font-weight: 300;
}